<div id="liveToast" class="toast align-items-center position-fixed top-0 w-100 bg-success z-3" role="alert" aria-live="assertive" data-bs-dismiss="toast" aria-atomic="true">
    <div class="d-flex">
        <div id="notificationMessage" class="toast-body text-center mx-auto fw-semibold text-white" >
            {# Message #}
        </div>
    </div>
</div>