<div id="liveToast" class="toast align-items-center position-fixed top-0 w-100 bg-success z-3" role="alert" aria-live="assertive" data-bs-dismiss="toast" aria-atomic="true">
    <div class="d-flex">
        <div id="notificationMessage" class="toast-body text-center mx-auto fw-semibold text-white" >
{#            Nous avons bien reçus votre message, nous reviendrons vers vous aussi vite que possible#}
        </div>
        {#            <button type="button" class="btn-close me-2 m-auto"  aria-label="Close"></button>#}
    </div>
</div>