{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

    <h1>Changement de mot de passe</h1>
    {{ form_start(form) }}
        {{ form_row(form.password) }}
        <button type="submit" class="btn mt-5 p-2 bg-primary text-light">
            Changer le mot de passe
        </button>
    {{ form_end(form) }}

{% endblock %}