{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
<h1 class="text-center mt-5">Contactez-nous</h1>
    {% include 'notifications/toast.html.twig' %}
    {% include 'contact/form.html.twig' %}
{% endblock %}
