body {
  padding: 0;
  margin: 0;
}

.contactForm {
  width: 90%;
}

@media screen and (min-width: 500px) {
  .contactForm {
    width: 75%;
  }
}

@media screen and (min-width: 1000px) {
  .contactForm {
    width: 50%;
  }
}



