<Footer class="w-100 bg-primary text-light top-100">
    <div class="p-5 m-5 d-flex justify-content-center text-center">
        <div class="">
            <p>Horaires d'ouverture</p>
            <ul class="list-unstyled">
                {% for day in details.openedDays%}
                <li class="grid">
                    {{ day }}
                </li>
                {% endfor %}
            </ul>
            <strong>Contactez-nous</strong>
            <p>Par téléphone : {{ details.telephone }} </p>
            <p>Par email : <a href="#" class="text-light">{{ details.email }}</a> </p>
        </div>
    </div>
    <div class="text-center">
        <p>© {{ "now"|date("Y") }} - Garage V.Parrot</p>
    </div>
</Footer>