{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block main %}
<h1 class="text-center m-5">Mentions légales</h1>
<div class="container">
{#    <p><em><span style="font-weight: 400;">&nbsp;Dernière mise à jour en mars 2021<br></span></em></p>#}
    <p>&nbsp;</p>
    <h2><b>1. Informations relatives à l’édition et la publication</b></h2>
    <p><span style="font-weight: 400;">Le présent site est édité par l’Association Française pour le Nommage Internet en Coopération (Afnic), association régie par la loi du 1er juillet 1901, déclarée à la Préfecture des Yvelines sous le n° 0784012789, dont le siège est situé Immeuble Stephenson, 1 rue Stephenson, 78180 Montigny-le-Bretonneux, e-mail : support@afnic.fr, téléphone 01-39-30-83-00, numéro TVA intracommunautaire FR72414757567.</span></p>
    <p><span style="font-weight: 400;">Le directeur de la publication du site internet www.afnic.fr est Monsieur Godefroy Beauvallet en qualité de président de l’Afnic.</span></p>
    <h2><b>2. Hébergement</b></h2>
    <p>L’hébergement du site est assuré par la société ECRITEL enregistrée au RCS de Nanterre sous le N° 332 484 021, dont le siège est situé 84 Rue Villeneuve, 92110 Clichy, e-mail : <a href="mailto:contact@ecritel.net"><strong>contact@ecritel.net</strong></a>, téléphone 01 40 61 20 00<strong>.</strong></p>
    <h2><b>3. Conditions générales d’utilisation</b></h2>
    <p><span style="font-weight: 400;">L’utilisateur reconnaît avoir pris connaissance des présentes conditions générales d’utilisation et s’engage à les respecter.</span></p>
    <p><span style="font-weight: 400;">L’utilisateur reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce site.</span></p>
    <p><span style="font-weight: 400;">L’utilisateur s’engage à consulter régulièrement les présentes mentions.</span></p>
    <p><span style="font-weight: 400;">L’utilisateur reconnaît avoir vérifié que la configuration informatique utilisée ne contient aucun virus et qu’elle est en parfait état de fonctionnement.</span></p>
    <p><span style="font-weight: 400;">L’Afnic met tout en œuvre pour offrir aux utilisateurs des informations ou des outils disponibles et vérifiés mais ne saurait être tenue pour responsable des erreurs, d’une absence de disponibilité des fonctionnalités ou de la présence de virus sur son site.</span></p>
    <p><span style="font-weight: 400;">Les informations fournies par l’Afnic le sont à titre indicatif et de renseignements généraux, et ne sauraient dispenser l’utilisateur d’une analyse complémentaire et personnalisée.</span></p>
    <p><span style="font-weight: 400;">L’Afnic ne saurait garantir l’exactitude, la complétude, l’actualité des informations diffusées sur son site.</span></p>
    <p><span style="font-weight: 400;">L’Afnic fait tout son possible pour veiller à l’exactitude et à la véracité des renseignements contenus sur le site et ne peut aucunement être tenue responsable de tout préjudice pouvant être causé par l’utilisation de ce site.</span></p>
    <p><span style="font-weight: 400;">L’Afnic fait appel à des sources fiables afin que les renseignements accessibles sur le site soient exacts et régulièrement tenus à jour.</span></p>
    <p><span style="font-weight: 400;">L’Afnic se réserve le droit de supprimer, changer ou modifier ce site en tout temps et sans préavis.</span></p>
    <p><span style="font-weight: 400;">L’Afnic ne peut être tenue responsable d’aucun préjudice, notamment de préjudices résultant de la transmission de documents sur Internet.</span></p>
    <p><span style="font-weight: 400;">L’Afnic se réserve le droit de réviser, supprimer, modifier, valider ou changer, intégralement ou en partie, tout contenu envoyé au site ou affiché sur celui-ci.</span></p>
    <p><span style="font-weight: 400;">En conséquence, l’utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.</span></p>
    <h2><b>4. Crédits et propriété intellectuelle</b></h2>
    <p><span style="font-weight: 400;">Ce site web et l’ensemble de ses contenus sont la propriété exclusive de l’Afnic et constituent une œuvre dont l’Afnic est l’auteur au sens des dispositions du Code de la propriété intellectuelle.</span></p>
    <p><span style="font-weight: 400;">Tous les droits afférents au site sont la propriété de l’Afnic. Il en est ainsi de l’ensemble des éléments concourant à la réalisation du site et à son animation, notamment les logiciels, textes, savoir-faire, structure du site, principes de navigation, ergonomie, look and feel, rubricage, tous les éléments d’ordre contractuel et formulaires et tous les autres éléments composant le site.</span></p>
    <p><span style="font-weight: 400;">Le site a été créé et développé en collaboration avec l’agence Makheia Group, </span><span style="font-weight: 400;">domiciliée au 125 rue de Saussure, 75017 Paris, RCS Paris 399 364 751 – <a href="https://www.makheia.com/" target="_blank" rel="noopener">https://www.makheia.com/</a>.<br></span></p>
    <p><span style="font-weight: 400;">L’Afnic accorde à tout utilisateur un droit personnel, non exclusif et non cessible d’utiliser le site. Ce droit n’entraîne aucune cession de droits de propriété intellectuelle de quelque nature que ce soit.</span></p>
    <p><span style="font-weight: 400;">Toute représentation totale ou partielle de ce site ou l’un de ses contenus par quelque personne que ce soit, sans l’autorisation expresse de l’Afnic est interdite et constituerait une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la propriété intellectuelle. Il en est de même des bases de données figurant sur le site internet et plus particulièrement la base WHOIS qui sont protégées par les articles L. 341-1 et suivants du Code de la propriété intellectuelle.</span></p>
    <p><span style="font-weight: 400;">Les signes distinctifs de l’Afnic et de ses partenaires, tels que les noms de domaine, marque, dénomination ainsi que les logos figurant sur le site sont protégés par le Code de la propriété intellectuelle.</span></p>
    <p><span style="font-weight: 400;">Toute reproduction totale ou partielle de l’un de ces signes effectuée à partir des éléments du site sans l’autorisation expresse de l’Afnic est donc prohibée, au sens du Code de la propriété intellectuelle.</span></p>
    <h2><b>5. Données personnelles&nbsp;</b></h2>
    <p><span style="font-weight: 400;">L’Afnic ne collecte vos données personnelles que lorsque c’est nécessaire de façon proportionnelle et pertinente aux finalités déterminées dans le respect des dispositions en vigueur pour la protection des données à caractère personnel et, en particulier, du règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 applicable à compter du 25 mai 2018.</span></p>
    <p><span style="font-weight: 400;">Nous vous invitons à prendre connaissance de toutes les informations détaillées sur les traitements de données personnelles réalisées par l’Afnic sur le site www.afnic.fr, de vos droits et de leurs modalités de mise en œuvre en consultant les documents : </span><a href="/vos-donnees/"><span style="font-weight: 400;">Vos données</span></a><span style="font-weight: 400;">&nbsp;&amp; </span><a href="/cookies/"><span style="font-weight: 400;">Cookies</span></a><span style="font-weight: 400;">.&nbsp;</span></p>
    <p><span style="font-weight: 400;">L’Utilisateur est tenu de respecter les dispositions en vigueur pour la protection des données à caractère personnel dont la violation est passible de sanctions pénales. L’Utilisateur doit notamment s’abstenir, s’agissant des informations à caractère personnel auxquelles il accède ou pourrait accéder, de toute collecte, de toute utilisation détournée d’une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.</span></p>
    <h2><b>6. Déléguée à la protection des données (DPO)</b></h2>
    <p><span style="font-weight: 400;">L’Afnic a désigné une Déléguée à la protection des données (DPO), chargée de veiller à la protection des données à caractère personnel et au respect des dispositions en vigueur pour la protection des données à caractère personnel par l’Association.</span></p>
    <p><span style="font-weight: 400;">Pour toute demande relative à la protection des données à caractère personnel, la DPO est joignable :</span></p>
    <ul>
        <li style="font-weight: 400;"><span style="font-weight: 400;">À l’adresse postale suivante : Afnic, Service juridique, à l’attention de la DPO, Immeuble Stephenson, 1 rue Stephenson, Montigny-le-Bretonneux, 78181 Saint-Quentin-en-Yvelines ;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Ou par voie électronique, à l’attention de la DPO : </span><a href="mailto:dpo@afnic.fr" target="_blank" rel="noopener"><span style="font-weight: 400;">dpo@afnic.fr</span></a><span style="font-weight: 400;">.&nbsp;</span></li>
    </ul>
    <h2><b>7. Hyperliens</b></h2>
    <p><span style="font-weight: 400;">L’Afnic décline toute responsabilité quant à l’accès aux informations externes et leurs contenus disponibles depuis les liens hypertextes présents sur son site.&nbsp;</span></p>
    <p><span style="font-weight: 400;">En toute hypothèse, les liens hypertextes renvoyant vers son site devront être retirés à première demande de l’Afnic.</span></p>
    <h2><b>8. Conditions spécifiques d’utilisation du site</b></h2>
    <h3><b>8.1. Espace de consultations publiques</b></h3>
    <p><span style="font-weight: 400;">L’espace de consultations publiques est accessible à tous les utilisateurs sans inscription aux fins de les informer et de les consulter sur des projets de l’Afnic.</span></p>
    <p><span style="font-weight: 400;">Pour participer à une consultation publique, l’utilisateur renseigne le formulaire de réponse et l’envoie à l’adresse email dédiée pendant la période d’ouverture de ladite consultation.</span></p>
    <p><span style="font-weight: 400;">Les données à caractère personnel collectées dans le cadre de la participation de l’utilisateur à une consultation publique ne sont, et ne seront, ni visibles sur le site, ni publiées. Les formulaires de réponse sont exploités de façon anonyme et sont notamment utilisés dans l’objectif de produire une synthèse de la consultation publique.</span></p>
    <h3><b>8.2. Règles de bonne conduite</b></h3>
    <p><span style="font-weight: 400;">Pour les fonctionnalités le nécessitant, l’utilisateur s’engage à n’ouvrir qu’un seul et unique compte.</span></p>
    <p><span style="font-weight: 400;">Utiliser, consulter et/ou participer au site se fait dans le respect de la loi, des présentes Mentions légales. En particulier, sans que cette liste ne soit limitative, il est rappelé aux utilisateurs les règles de bonne conduite suivantes :</span></p>
    <ol>
        <li><span style="font-weight: 400;"> Respect des dispositions légales et règlementaires. L’utilisateur accepte, et s’y engage, à ne pas, notamment (i) tenir directement ou indirectement par l’incitation par exemple des propos contraires à l’Ordre Public et aux Bonnes Mœurs, des propos consistant en des injures, des menaces, du harcèlement, de la discrimination, de la diffamation, du racisme, de la pédophilie, de la pornographie, des propos incitant à la haine ou encourageant une activité illégale ; (ii) avoir directement ou indirectement des comportements délictueux tels que le piratage, la propagation de virus, l’utilisation détournée de services fournis par l’Afnic notamment à des fins illégales ou illicites, l’usurpation d’identité, l’envoi de messages non sollicités.&nbsp;</span></li>
        <li><span style="font-weight: 400;"> Respect du contenu. Dans sa participation au site, l’utilisateur veille à communiquer des propos, avis, suggestions, commentaires en lien avec les sujets proposés, à respecter les droits de propriété intellectuelle, à n’utiliser que du contenu qui lui est propre et personnel (avis, image, commentaire, etc.) et à ne pas reproduire l’avis et les propos de tiers, à citer toutes sources et références utilisées, à vérifier ses sources et références avant utilisation.&nbsp;</span></li>
    </ol>
    <p><span style="font-weight: 400;">De principe, l’utilisateur répond de tout préjudice causé tant à l’Afnic qu’à des tiers via le site et les services de l’Afnic.</span></p>
    <p><span style="font-weight: 400;">Le non-respect par un utilisateur des Mentions Légales incluant les règles de bonne conduite entraîne l’intervention de l’Afnic en auto saisine ou sur demande pour entreprendre toute action pouvant être requise.</span></p>
    <h3><b>8.3. Contenu de l’utilisateur</b></h3>
    <p><span style="font-weight: 400;">Les contenus envoyés par l’utilisateur dans le cadre de la consultation publique peuvent être librement exploités par l’Afnic à toutes fins. Dans l’hypothèse où des droits de propriété intellectuelle devaient être reconnus sur ces contenus, l’utilisateur de par sa participation à la consultation publique, cède à titre gracieux et pour toute leur durée, tous les droits d’exploitation sur ces contenus tels que notamment les droits de reproduction, représentation, adaptation, diffusion, utilisation, à titre commercial ou non sur tous supports et par tous moyens.</span></p>
    <h2><b>9. Loi applicable</b></h2>
    <p><span style="font-weight: 400;">La loi française est applicable tant pour les règles de forme que de fond. Les tribunaux français seront seuls compétents pour connaître des contestations pouvant naître à quelque titre que ce soit des présentes.</span></p>


</div>
{% endblock %}
