{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('cars') }}
{% endblock %}

{% block title %}Voitures d'occasion{% endblock %}

{% block main %}

    <h1 class="m-5 text-center px-1">Nos véhicules d'occasion</h1>

    {# Filtres #}
    <div class="mx-auto">
        {% include 'cars/filters.html.twig' %}
    </div>

{#    {% if app.user is not null and app.user.roles|filter(role => role in ['ROLE_ADMIN', 'ROLE_USER'])|length > 0 %}#}
{#        <a class="btn btn-dark m-3" href="{{ path('app_cars_new') }}">Ajouter un véhicule</a>#}
{#    {% endif %}#}

{#    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Filtrer</button>#}


    {# Pagination #}
    {% include 'cars/pagination.html.twig' %}

    {# Liste des voitures #}
    <div id="cars-list-container">
        {% include 'cars/cars_list_item.html.twig' %}
    </div>

    {# Modale contenant le formulaire #}
    {% include 'cars/form_modal.html.twig' %}

    {# Notification #}
    {% include 'notifications/toast.html.twig' %}



{% endblock %}
