{#{% extends '@EasyAdmin/page/content.html.twig' %}#}
{% extends './dashBoard/content.html.twig' %}
{% block content %}
    <div>
        <h1>Bienvenue dans le Dashboard administrateur</h1>
        <div>Ici vous faites ce que vous voulez</div>
    </div>
{% endblock %}

